.header-address {
  background-color: var(--black);
  color: white;
  padding: 4px 0px;
  svg {
    width: 16px;
    height: 16px;
  }
}
.header-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  transition: transform .4s ease;
  
  &._scroll {
    transform: translateY(-100%)
  }
  @include laptop-min {
    position: sticky;
  }
}
.header {
  padding: 10px 0px;
  background-color: white;


  &__wrapper {
    @include flex-between;
    gap: 30px;
    @include laptop-min {
      gap: 15px;
    }
  }
  &__logo {
    display: block;
    width: 70px;
    @include tablet-min {
      width: 40px;
    }

    img {
      display: block;
      width: 100%;
    }
  }
  &__search-wrapper {
    flex: 0 1 380px;
    @include laptop-middle {
      flex-basis: 305px;
    }
    @include laptop-min {
      display: none;
    }
  }
  &__address {
    @include laptop-min {
      display: none;
    }
    a {
      transition: color 0.2s ease;
      @include hover {
        color: var(--primary) !important;
      }
    }
  }
  &__contacts {
    @include laptop-min {
      display: none;
    }
  }
  &__tel {
    font-size: 18px;
    line-height: 133%;
    transition: color 0.2s ease;
    @include hover {
      color: var(--primary);
    }
  }
  &__social-btn {
    flex-shrink: 0;
    transition: opacity 0.2s ease;
    @include hover {
      opacity: 0.7;
    }
  }
  &__drom {
    flex-shrink: 0;
    width: 85px;
    transition: opacity 0.2s ease;
    @include hover {
      opacity: 0.7;
    }
  }
  &__question-btn {
    cursor: pointer;
    border: none;
    outline: none;
    background-color: var(--primary);
    padding: 8px 15px;
    border-radius: 50px;

    color: white;
    font-weight: 600;
    font-size: 13px;
    line-height: 123%;
  }
  &__mob-nav {
    display: flex;
    gap: 20px;
  }
  &__mob-btn {
    display: block;
    width: 24px;
    height: 24px;

    transition: opacity 0.2s ease;
    @include hover {
      opacity: 0.5;
    }

    svg {
      width: 100%;
      height: 100%;
    }
  }
}
.header-nav {
  padding: 15px 0px;
  backdrop-filter: blur(12px);
  background: rgba(32, 20, 20, 0.33);
  color: white;
  @include laptop-min {
    display: none;
  }

  &._primary {
    background-color: var(--primary);
    backdrop-filter: blur(0) ;

    .header-nav__list a {
      @include hover {
        color: var(--light);
      }
    }
  }
  &__wrapper {
    @include flex-between;
    gap: 20px;
  }
  &__list {
    display: flex;
    gap: 40px;

    a {
      padding: 14px 5px;
      font-weight: 600;
      font-size: 16px;
      line-height: 11px;
      transition: color 0.2s ease;
      @include hover {
        color: var(--primary);
      }
    }
  }
  &__btn-stroke {
    padding: 14px 20px;
    font-weight: 600;
    font-size: 16px;
    line-height: 11px;
    border: 1px solid rgba(255, 255, 255, 0.33);
    border-radius: 30px;
    white-space: nowrap;
    flex-shrink: 0;

    transition:
      color 0.2s ease,
      border-color 0.2s ease,
      background-color 0.2s ease;
    @include hover {
      background-color: white;
      color: var(--black);
      border-color: white;
    }
  }
}

.header-sticky {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 10px 0px;
  backdrop-filter: blur(12px);
  background: rgba(32, 20, 20, 0.33);
  color: white;

  opacity: 0;
  transform: translateY(-100%);
  visibility: hidden;

  z-index: 100;

  transition: transform .4s ease, visibility .4s ease, opacity .4s ease;

  &._scroll {
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
  }

  @include laptop-min {
    display: none;
  }

  .header-nav__list {
    @include laptop {
      gap: 20px
    }
  }

  &__wrapper {
    @include flex-between;
    gap: 30px;
  }
  &__search-wrapper {
    flex: 0 1 610px;

    opacity: 0;
    display: none;

    transition: opacity .4s ease;
  
    &._open {
      display: block;
    }
  }
  &__search-open {
    cursor: pointer;
    width: 24px;
    height: 24px;

    transition: color .2s ease;
    @include hover {
      color: var(--primary);
    }

    svg {
      width: 100%;
      height: 100%;
    }
  }
}