.s-article {
  &__wrapper {
    display: flex;
    align-items: start;
    gap: 20px;
  }
  &__body {
    flex: 1;
    border-radius: 8px;
    padding: 40px;
    background-color: white;
    @include laptop-middle {
      padding: 25px;
    }
    @include tablet-min {
      padding: 10px;
    }
  }
  &__title {
    margin-bottom: 10px;
    @include tablet {
      margin-bottom: 20px;
    }
  }
  &__img {
    display: block;
    width: 100%;
    height: auto;
    margin: 20px 0px 30px 0px;
    border-radius: 8px;

    @include tablet-min {
      min-height: 240px;
    }
  }
  &__head-content {
    margin-bottom: 20px;
    p {
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  &__content {
    line-height: 135%;
    * {
      margin-bottom: 10px !important;
    }

    a {
      text-decoration: underline;
      transition: color 0.3s ease;
      @include hover {
        color: var(--primary);
      }
    }
  }
  &__rec {
    position: sticky;
    top: 90px;
    width: 280px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    gap: 20px;

    @include laptop-min {
      display: none;
    }
  }
}
