.s-service-spec {
  &__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;

    @include laptop-min {
      grid-template-columns: 1fr;
    }
  }
  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;
    padding: 40px;
    background-color: white;
    @include tablet {
      padding: 20px 20px 30px 20px;
    }
  }
  &__item-icon {
    display: block;
    margin-bottom: 20px;
  }
}
