:root {
  --content-width: 1400px;
  --offset-width: 10px;
  --container-width: calc(var(--content-width) + (var(--offset-width) * 2));
}

.container {
  max-width: var(--container-width);
  width: 100%;
  padding: 0 var(--offset-width);
  margin: 0 auto;

  @include desktop-big {
    max-width: 1200px;
  }
  @include laptop {
    max-width: 1140px;
  }
  @include laptop-middle {
    max-width: 960px;
  }
  @include laptop-min {
    max-width: 720px;
  }
  @include tablet {
    max-width: 540px;
  }
}