:root {
  --black: #201414;

  --light-bg: #ececec;
  --light: #959595;
  --stroke: #dadada;

  --primary: #ba0105;

  --gray: #4a4c53;

  --green: #64a844;

  --primary-33: rgba(186, 1, 5, 0.33);
  --white-33: rgba(255, 255, 255, 0.33);
  --black-33: rgba(32, 20, 20, 0.33);
}
