<div class="header-address d-lg-none">
  <div class="container">
    <div class="d-flex align-items-center justify-content-center gap-1">
      <svg>
        <use xlink:href="img/icons/icons.svg#icon-location"></use>
      </svg>
      <div class="text-11">г. Иркутск, ул. Трактовая ст. 3ж/1, офис 5</div>
    </div>
  </div>
</div>
<div class="header-container">
  <header class="header">
    <div class="container">
      <div class="header__wrapper">
        <a href="/" class="header__logo">
          <img src="@img/logo.svg" alt="logo" />
        </a>
        <div class="header__search-wrapper">
          <form action="#" class="form-search">
            <input type="text" placeholder="Поиск" class="form-search__input" />
            <button class="btn-reset form-search__btn">
              <svg>
                <use xlink:href="img/icons/icons.svg#icon-search"></use>
              </svg>
            </button>
          </form>
        </div>
        <div class="header__address">
          <div class="text-16">г. Иркутск</div>
          <div class="text-11 text-light my-1">
            ул. Трактовая, ст 3ж/1, офис 5
          </div>
          <a href="mailto:info@us-fork.ru" class="d-block text-11 text-light">
            info@us-fork.ru
          </a>
        </div>
        <div class="header__contacts">
          <div class="d-flex align-items-center gap-3">
            <a href="tel:+73952788472" class="header__tel">
              +7 (3952) 78 84 72
            </a>
            <a href="#" target="_blank" class="header__social-btn">
              <img src="@img/whats.svg" alt="icon" />
            </a>
            <a href="#" target="_blank" class="header__drom">
              <img src="@img/logo-drom.png" alt="logo" />
            </a>
          </div>
          <div class="text-11 text-light mt-1">По будням с 8:00 до 17:00</div>
        </div>
        <button data-bs-toggle="modal" data-bs-target="#modal-consult" class="header__question-btn d-lg-none">Задать вопрос</button>
        <div class="header__mob-nav d-lg-none">
          <a href="tel:+73952788472" class="header__mob-btn">
            <svg>
              <use xlink:href="img/icons/icons.svg#icon-tel"></use>
            </svg>
          </a>
          <div class="header__mob-btn fixed-search-open">
            <svg>
              <use xlink:href="img/icons/icons.svg#icon-search"></use>
            </svg>
          </div>
          <div class="header__mob-btn" id="burger-open">
            <svg>
              <use xlink:href="img/icons/icons.svg#icon-burger"></use>
            </svg>
          </div>
        </div>
      </div>
    </div>
  </header>
  <div class="header-nav">
    <div class="container">
      <div class="header-nav__wrapper">
        <ul class="list header-nav__list">
          <li><a href="#">Каталог</a></li>
          <li class="dropdown">
            <a href="#">Услуги</a>
            <div class="dropdown__body">
              <div class="dropdown__body-inside">
                <ul class="list dropdown__list">
                  <li>
                    <a href="#"><span>Аренда</span></a>
                  </li>
                  <li>
                    <a href="#"><span>Сервисный центр</span></a>
                  </li>
                  <li>
                    <a href="#"><span>Лизинг</span></a>
                  </li>
                  <li>
                    <a href="#"><span>Запрессовка шин</span></a>
                  </li>
                  <li>
                    <a href="#"><span>Выкуп</span></a>
                  </li>
                  <li>
                    <a href="#"><span>Trade-In</span></a>
                  </li>
                </ul>
              </div>
            </div>
          </li>
          <li class="dropdown">
            <a href="#">О компании</a>
            <div class="dropdown__body">
              <div class="dropdown__body-inside">
                <ul class="list dropdown__list">
                  <li>
                    <a href="#"><span>Вакансии</span></a>
                  </li>
                  <li>
                    <a href="#"><span>Отзывы</span></a>
                  </li>
                  <li>
                    <a href="#"><span>Доставка</span></a>
                  </li>
                  <li>
                    <a href="#"><span>Оплата</span></a>
                  </li>
                </ul>
              </div>
            </div>
          </li>
          <li><a href="#">Новости</a></li>
          <li><a href="#">Контакты</a></li>
        </ul>
        <button
          data-bs-toggle="modal"
          data-bs-target="#modal-consult"
          class="btn-reset header-nav__btn-stroke"
        >
          Мне нужна консультация
        </button>
      </div>
    </div>
  </div>
</div>

<div class="header-sticky">
  <div class="container">
    <div class="header-sticky__wrapper">
      <a href="/" class="header__logo">
        <img src="@img/logo.svg" alt="logo" />
      </a>
      <ul class="list header-nav__list">
        <li><a href="#">Каталог</a></li>
        <li class="dropdown">
          <a href="#">Услуги</a>
          <div class="dropdown__body">
            <div class="dropdown__body-inside">
              <ul class="list dropdown__list">
                <li>
                  <a href="#"><span>Аренда</span></a>
                </li>
                <li>
                  <a href="#"><span>Сервисный центр</span></a>
                </li>
                <li>
                  <a href="#"><span>Лизинг</span></a>
                </li>
                <li>
                  <a href="#"><span>Запрессовка шин</span></a>
                </li>
                <li>
                  <a href="#"><span>Выкуп</span></a>
                </li>
                <li>
                  <a href="#"><span>Trade-In</span></a>
                </li>
              </ul>
            </div>
          </div>
        </li>
        <li class="dropdown">
          <a href="#">О компании</a>
          <div class="dropdown__body">
            <div class="dropdown__body-inside">
              <ul class="list dropdown__list">
                <li>
                  <a href="#"><span>Вакансии</span></a>
                </li>
                <li>
                  <a href="#"><span>Отзывы</span></a>
                </li>
                <li>
                  <a href="#"><span>Доставка</span></a>
                </li>
                <li>
                  <a href="#"><span>Оплата</span></a>
                </li>
              </ul>
            </div>
          </div>
        </li>
        <li><a href="#">Новости</a></li>
        <li><a href="#">Контакты</a></li>
      </ul>
      <div class="header-sticky__search-wrapper">
        <form action="#" class="form-search">
          <input type="text" placeholder="Поиск" class="form-search__input" />
          <button class="btn-reset form-search__btn">
            <svg>
              <use xlink:href="img/icons/icons.svg#icon-search"></use>
            </svg>
          </button>
        </form>
      </div>
      <div class="header-sticky__search-open">
        <svg>
          <use xlink:href="img/icons/icons.svg#icon-search"></use>
        </svg>
      </div>
      <div class="ms-auto d-flex align-items-center gap-3">
        <a
          href="#"
          target="_blank"
          class="d-none d-xl-block header__social-btn"
        >
          <img src="@img/whats.svg" alt="icon" />
        </a>
        <a href="#" target="_blank" class="d-none d-xl-block header__drom">
          <img src="@img/logo-drom.png" alt="logo" />
        </a>
        <button
          data-bs-toggle="modal"
          data-bs-target="#modal-consult"
          class="btn-reset header-nav__btn-stroke"
        >
          Мне нужна консультация
        </button>
      </div>
    </div>
  </div>
</div>

<div class="fixed-search" id="fixed-search">
  <form action="#" class="fixed-search__form">
    <input type="text" placeholder="Поиск" class="fixed-search__input" />
    <button class="btn-reset fixed-search__btn">
      <svg>
        <use xlink:href="img/icons/icons.svg#icon-search"></use>
      </svg>
    </button>
  </form>
  <div class="fixed-search__close" id="fixed-search-close">
    <svg>
      <use xlink:href="img/icons/icons.svg#icon-close"></use>
    </svg>
  </div>
</div>

<div class="burger" id="burger">
  <div class="burger__head">
    <a href="#" target="_blank" class="burger__social-btn">
      <img src="@img/whats.svg" alt="image" />
    </a>
    <a href="#" target="_blank" class="burger__drom">
      <img src="@img/logo-drom.png" alt="logo" />
    </a>
    <div class="burger__head-nav">
      <div class="burger__nav-btn fixed-search-open">
        <svg>
          <use xlink:href="img/icons/icons.svg#icon-search"></use>
        </svg>
      </div>
      <div class="burger__nav-btn" id="burger-close">
        <svg>
          <use xlink:href="img/icons/icons.svg#icon-close"></use>
        </svg>
      </div>
    </div>
  </div>
  <div class="burger__body">
    <div class="burger__tab _active" style="opacity: 1" data-burger-tab="main">
      <ul class="accordion list burger__list">
        <li data-bs-toggle="collapse" data-bs-target="#burger-menu-catalog">
          <span>
            <a href="#">Каталог</a>
            <svg>
              <use xlink:href="img/icons/icons.svg#icon-arrow-next"></use>
            </svg>
          </span>
          <div id="burger-menu-catalog" class="collapse">
            <ul class="list burger__sublist">
              <li><a href="#">Категория</a></li>
              <li><a href="#">Категория</a></li>
              <li><a href="#">Категория</a></li>
              <li
                data-bs-toggle="collapse"
                data-bs-target="#burger-menu-catalog-sub-1"
              >
                <span>
                  <a href="#">Каталог</a>
                  <svg>
                    <use xlink:href="img/icons/icons.svg#icon-arrow-next"></use>
                  </svg>
                </span>
                <div id="burger-menu-catalog-sub-1" class="collapse">
                  <ul class="list burger__sublist">
                    <li><a href="#">Категория</a></li>
                    <li><a href="#">Категория</a></li>
                    <li><a href="#">Категория</a></li>
                    <li><a href="#">Категория</a></li>
                    <li><a href="#">Категория</a></li>
                  </ul>
                </div>
              </li>
              <li><a href="#">Категория</a></li>
            </ul>
          </div>
        </li>
        <li data-bs-toggle="collapse" data-bs-target="#burger-menu-services">
          <span>
            <a href="#">Услуги</a>
            <svg>
              <use xlink:href="img/icons/icons.svg#icon-arrow-next"></use>
            </svg>
          </span>
          <div id="burger-menu-services" class="collapse">
            <ul class="list burger__sublist">
              <li><a href="#">Аренда</a></li>
              <li><a href="#">Сервисный центр</a></li>
              <li><a href="#">Лизинг</a></li>
              <li><a href="#">Запрессовка шин</a></li>
              <li><a href="#">Выкуп</a></li>
              <li><a href="#">Trade-In</a></li>
            </ul>
          </div>
        </li>
        <li>
          <a href="#">О компании</a>
        </li>
        <li>
          <a href="#">Контакты</a>
        </li>
      </ul>
    </div>
    <div class="burger__bottom">
      <div class="burger__contacts">
        <svg class="burger__contacts-icon">
          <use xlink:href="img/icons/icons.svg#icon-tel"></use>
        </svg>
        <div>
          <a href="tel:+73952788472" class="burger__tel">+7 (3952) 78 84 72</a>
          <div class="text-11 text-light mt-1">По будням с 8:00 до 17:00</div>
        </div>
      </div>
    </div>
    <button
      data-bs-toggle="modal"
      data-bs-target="#modal-consult"
      class="btn-reset burger__btn-consult"
    >
      Мне нужна консультация
    </button>
  </div>
</div>
