<header class="header">
  <div class="container">
    <div class="header__wrapper">
      <a href="/" class="header__logo">
        <img src="@img/logo.png" alt="logo" />
      </a>
      <div class="header__search-wrapper">
        <form action="#" class="form-search">
          <input type="text" placeholder="Поиск" class="form-search__input" />
          <button class="btn-reset form-search__btn">
            <svg>
              <use xlink:href="img/icons/icons.svg#icon-search"></use>
            </svg>
          </button>
        </form>
      </div>
      <div class="header__address">
        <div class="text-16">г. Иркутск</div>
        <div class="text-11 text-light my-1">
          ул. Трактовая, ст 3ж/1, офис 5
        </div>
        <a href="mailto:info@us-fork.ru" class="d-block text-11 text-light">
          info@us-fork.ru
        </a>
      </div>
      <div class="header__contacts">
        <div class="d-flex align-items-center gap-3">
          <a href="tel:+73952788472" class="header__tel">+7 (3952) 78 84 72</a>
          <a href="#" target="_blank" class="header__social-btn">
            <img src="@img/whats.svg" alt="icon" />
          </a>
          <a href="#" target="_blank" class="header__drom">
            <img src="@img/logo-drom.png" alt="logo" />
          </a>
        </div>
        <div class="text-11 text-light mt-1">По будням с 8:00 до 17:00</div>
      </div>
			<button class="header__question-btn d-lg-none">Задать вопрос</button>
      <div class="header__mob-nav d-lg-none">
        <a href="tel:+73952788472" class="header__mob-btn">
          <svg>
            <use xlink:href="img/icons/icons.svg#icon-tel"></use>
          </svg>
        </a>
        <div class="header__mob-btn" id="header-search-btn">
          <svg>
            <use xlink:href="img/icons/icons.svg#icon-search"></use>
          </svg>
        </div>
        <div class="header__mob-btn" id="burger-open">
          <svg>
            <use xlink:href="img/icons/icons.svg#icon-burger"></use>
          </svg>
        </div>
      </div>
    </div>
  </div>
</header>
