<section class="sect-p s-archive-dealer bg-light">
  <div class="container">
    <h2 class="s-title text-center">Официальный дилер HELI</h2>
    <div class="s-archive-dealer__grid">
      <div class="s-archive-dealer__gallery">
        <img src="@img/archive-dealer.jpg" alt="image" />
      </div>
      <div class="s-archive-dealer__item">
        <h3 class="text-h3 text-uppercase text-oswald fw-bold mb-3">
          НАПРАВЛЕНИЯ ДЕЯТЕЛЬНОСТИ
        </h3>
        <ul class="list s-archive-dealer__list">
          <li>
            Продажа и обслуживание складской техники (погрузчики; подъёмники;
            штабелёры; ричтраки; электрические платформенные телеги и
            электротягачи; подъёмные столы; телеги гидравлические,
            платформенные, грузовые)
          </li>
          <li>
            Запасные части и расходные материалы (огромный ассортимент на
            складе)
          </li>
          <li>Шины для спецтехники (пневматические, суперэластик)</li>
          <li>
            Тяговые аккумуляторные батареи и зарядные устройства для
            электропогрузчиков
          </li>
          <li>
            Сервисное обслуживание и ремонт спецтехники (выездной и
            стационарный)
          </li>
          <li>Аренда складской техники</li>
        </ul>
      </div>
      <div class="s-archive-dealer__map">
        <img src="@img/dealer-map.jpg" alt="image" />
      </div>
      <div class="s-archive-dealer__item _p-md-0">
        <div class="s-archive-dealer__wrapper-certificate">
          <a href="@img/certificate.jpg" data-fancybox>
            <img src="@img/certificate.jpg" alt="image" />
          </a>
        </div>
      </div>
      <div class="s-archive-dealer__item">
        <h3 class="text-h3 text-uppercase text-oswald fw-bold mb-3">
          История компании
        </h3>
        <ul class="list s-archive-dealer__history-list">
          <li>
            <div class="s-archive-dealer__history-num">2010</div>
            <span class="text-16">
              Открыта компания по продаже запасных частей и шин для вилочных
              погрузчиков.
            </span>
          </li>
          <li>
            <div class="s-archive-dealer__history-num">2012</div>
            <span class="text-16">
              Официальные дилеры по вилочным погрузчикам и складской технике
              HELI (Китай).
            </span>
          </li>
          <li>
            <div class="s-archive-dealer__history-num">2013</div>
            <span class="text-16">
              Открыт Сервисный центр по обслуживанию вилочных погрузчиков и
              складской техники.
            </span>
          </li>
          <li>
            <div class="s-archive-dealer__history-num">2014</div>
            <span class="text-16">
              Открыто направление по аренде вилочных погрузчиков и складской
              технике.
            </span>
          </li>
          <li>
            <div class="s-archive-dealer__history-num">2024</div>
            <span class="text-16">
              Почти 15 лет Компания работает, поставляя и обслуживая вилочные
              погрузчики на предприятия Иркутской области, Республики Бурятия,
              Забайкальского Края
            </span>
          </li>
        </ul>
      </div>
      <div class="s-archive-dealer__item">
        <h3 class="text-h3 text-uppercase text-oswald fw-bold mb-3">
          Вакансии
        </h3>
        <div class="s-archive-dealer__jobs">
          <div class="s-archive-dealer__job-item">
            <div class="text-16 fw-bold mb-2">Автоэлектрик</div>
            <p class="text-16 mb-3">по ремонту вилочных погрузчиков / минипогрузчиков / внутрискладской техники</p>
            <a href="#" class="btn-s _outline s-archive-dealer__job-btn">Подробнее</a>
          </div>
          <div class="s-archive-dealer__job-item">
            <div class="text-16 fw-bold mb-2">Слесарь</div>
            <p class="text-16 mb-3">выездной службы по ремонту вилочных погрузчиков / минипогрузчиков / внутрискладской техники</p>
            <a href="#" class="btn-s _outline s-archive-dealer__job-btn">Подробнее</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>