<section class="s-blog sect-p bg-light">
  <div class="container">
    <div class="breadcrumbs">
      <a href="/">Главная</a>
      <span>Блог</span>
    </div>
    <h2 class="s-title text-center text-md-start">Блог</h2>
    <div class="s-blog__categories">
      <a href="#" class="btn-s _min _outline _active">Все</a>
      <a href="#" class="btn-s _min _outline">Акции</a>
      <a href="#" class="btn-s _min _outline">Полезные статьи</a>
      <a href="#" class="btn-s _min _outline">Блог</a>
    </div>
    <div class="s-blog__grid">
      <a href="#" class="card-blog">
        <img src="@img/card-blog.jpg" alt="image" class="card-blog__img" />
        <h5 class="text-16 card-blog__title">Заголовок статьи</h5>
        <p class="text-13 card-blog__descr">
          Описание статьи Описание статьи Описание статьи Описание статьи
        </p>
        <div class="text-11 text-light mt-auto">01.02.2025</div>
      </a>
      <a href="#" class="card-blog">
        <img src="@img/card-blog.jpg" alt="image" class="card-blog__img" />
        <div class="text-11 card-blog__tag">Акции</div>
        <h5 class="text-16 card-blog__title">Заголовок статьи</h5>
        <p class="text-13 card-blog__descr">
          Описание статьи Описание статьи Описание статьи Описание статьи
        </p>
        <div class="text-11 text-light mt-auto">01.02.2025</div>
      </a>
      <a href="#" class="card-blog">
        <img src="@img/card-blog.jpg" alt="image" class="card-blog__img" />
        <div class="text-11 card-blog__tag">Акции</div>
        <h5 class="text-16 card-blog__title">Заголовок статьи</h5>
        <p class="text-13 card-blog__descr">
          Описание статьи Описание статьи Описание статьи Описание статьи
        </p>
        <div class="text-11 text-light mt-auto">01.02.2025</div>
      </a>
      <a href="#" class="card-blog">
        <img src="@img/card-blog.jpg" alt="image" class="card-blog__img" />
        <div class="text-11 card-blog__tag">Акции</div>
        <h5 class="text-16 card-blog__title">Заголовок статьи</h5>
        <p class="text-13 card-blog__descr">
          Описание статьи Описание статьи Описание статьи Описание статьи
        </p>
        <div class="text-11 text-light mt-auto">01.02.2025</div>
      </a>
      <a href="#" class="card-blog">
        <img src="@img/card-blog.jpg" alt="image" class="card-blog__img" />
        <div class="text-11 card-blog__tag">Акции</div>
        <h5 class="text-16 card-blog__title">Заголовок статьи</h5>
        <p class="text-13 card-blog__descr">
          Описание статьи Описание статьи Описание статьи Описание статьи
        </p>
        <div class="text-11 text-light mt-auto">01.02.2025</div>
      </a>
      <a href="#" class="card-blog">
        <img src="@img/card-blog.jpg" alt="image" class="card-blog__img" />
        <div class="text-11 card-blog__tag">Акции</div>
        <h5 class="text-16 card-blog__title">Заголовок статьи</h5>
        <p class="text-13 card-blog__descr">
          Описание статьи Описание статьи Описание статьи Описание статьи
        </p>
        <div class="text-11 text-light mt-auto">01.02.2025</div>
      </a>
      <a href="#" class="card-blog">
        <img src="@img/card-blog.jpg" alt="image" class="card-blog__img" />
        <div class="text-11 card-blog__tag">Акции</div>
        <h5 class="text-16 card-blog__title">Заголовок статьи</h5>
        <p class="text-13 card-blog__descr">
          Описание статьи Описание статьи Описание статьи Описание статьи
        </p>
        <div class="text-11 text-light mt-auto">01.02.2025</div>
      </a>
      <a href="#" class="card-blog">
        <img src="@img/card-blog.jpg" alt="image" class="card-blog__img" />
        <div class="text-11 card-blog__tag">Акции</div>
        <h5 class="text-16 card-blog__title">Заголовок статьи</h5>
        <p class="text-13 card-blog__descr">
          Описание статьи Описание статьи Описание статьи Описание статьи
        </p>
        <div class="text-11 text-light mt-auto">01.02.2025</div>
      </a>
      <a href="#" class="card-blog">
        <img src="@img/card-blog.jpg" alt="image" class="card-blog__img" />
        <div class="text-11 card-blog__tag">Акции</div>
        <h5 class="text-16 card-blog__title">Заголовок статьи</h5>
        <p class="text-13 card-blog__descr">
          Описание статьи Описание статьи Описание статьи Описание статьи
        </p>
        <div class="text-11 text-light mt-auto">01.02.2025</div>
      </a>
      <a href="#" class="card-blog">
        <img src="@img/card-blog.jpg" alt="image" class="card-blog__img" />
        <div class="text-11 card-blog__tag">Акции</div>
        <h5 class="text-16 card-blog__title">Заголовок статьи</h5>
        <p class="text-13 card-blog__descr">
          Описание статьи Описание статьи Описание статьи Описание статьи
        </p>
        <div class="text-11 text-light mt-auto">01.02.2025</div>
      </a>
      <a href="#" class="card-blog">
        <img src="@img/card-blog.jpg" alt="image" class="card-blog__img" />
        <div class="text-11 card-blog__tag">Акции</div>
        <h5 class="text-16 card-blog__title">Заголовок статьи</h5>
        <p class="text-13 card-blog__descr">
          Описание статьи Описание статьи Описание статьи Описание статьи
        </p>
        <div class="text-11 text-light mt-auto">01.02.2025</div>
      </a>
    </div>
    <a href="#" class="s-blog__btn-more btn-s _outline">Показать ещё</a>
  </div>
</section>
