<section class="sect-p s-center" style="background: url('@img/center.jpg') left 0 top 0 / cover no-repeat;">
  <div class="container">
    <div class="s-center__wrapper">
      <h2 class="s-title text-md-start text-center">Обслуживайте в авторизованном сервисном центре</h2>
      <ul class="list s-center__list">
        <li>
          <svg>
            <use xlink:href='img/icons/icons.svg#icon-check'></use>
          </svg>
          <span>Техобслуживание и гарантийный ремонт</span>
        </li>
        <li>
          <svg>
            <use xlink:href='img/icons/icons.svg#icon-check'></use>
          </svg>
          <span>Оригинальные запчасти в наличии</span>
        </li>
        <li>
          <svg>
            <use xlink:href='img/icons/icons.svg#icon-check'></use>
          </svg>
          <span>Запрессовка шин</span>
        </li>
      </ul>
      <a href="#" class="btn-s _outline-white s-center__btn">Подробнее</a>
    </div>
  </div>
</section>