<section class="sect-p bg-light s-conditions">
  <div class="container">
    <h2 class="s-title text-center">
      Приобретайте технику
      <br />
      <span>на выгодных условиях</span>
    </h2>

    <div class="swiper s-conditions__slider">
      <div class="swiper-wrapper s-conditions__slider-wrapper">
        <div class="swiper-slide s-conditions__slide">
          <img
            src="@img/conditions-1.jpg"
            alt="image"
            class="s-conditions__slide-img"
          />
          <div class="s-conditions__slide-body">
            <a
              href="#"
              class="text-primary big-link py-2 d-block s-conditions__slide-title"
            >
              Аренда
            </a>
            <p class="text-16 my-3">
              Возьмите погрузчик в аренду
              <br />
              сроком от недели до 3 лет
            </p>
            <button data-bs-toggle="modal" data-bs-target="#modal-get-price" class="btn-reset s-conditions__slide-btn">
              Узнайте условия аренды
            </button>
          </div>
        </div>
        <div class="swiper-slide s-conditions__slide">
          <img
            src="@img/conditions-2.jpg"
            alt="image"
            class="s-conditions__slide-img"
          />
          <div class="s-conditions__slide-body">
            <a
              href="#"
              class="text-primary big-link py-2 d-block s-conditions__slide-title"
            >
              Лизинг
            </a>
            <p class="text-16 my-3">
              Первоначальный взнос 10% Положительное решение за 15 минут
            </p>
            <button data-bs-toggle="modal" data-bs-target="#modal-order" class="btn-reset s-conditions__slide-btn">Подайте заявку</button>
          </div>
        </div>
        <div class="swiper-slide s-conditions__slide">
          <img
            src="@img/conditions-3.jpg"
            alt="image"
            class="s-conditions__slide-img"
          />
          <div class="s-conditions__slide-body">
            <a
              href="#"
              class="text-primary big-link py-2 d-block s-conditions__slide-title"
            >
              Trade-In
            </a>
            <p class="text-16 my-3">
              Получите новый погрузчик HELI с гарантией вместо вашего старого
            </p>
            <button data-bs-toggle="modal" data-bs-target="#modal-order" class="btn-reset s-conditions__slide-btn">Подайте заявку</button>
          </div>
        </div>
        <a href="#" class="swiper-slide s-conditions__slide-all">
          <div class="btn-s _min">Все услуги</div>
        </a>
      </div>
    </div>

    <a href="#" class="btn-s s-conditions__btn-more">Все услуги</a>
  </div>
</section>
