<section class="s-content sect-m">
  <div class="container">
    <div class="s-content__wrapper">
      <h2 class="s-title text-center">Вилочный погрузчик в аренду</h2>
      <p class="text-18 mb-4">
        Компания Склад.38 — официальный дилер вилочных погрузчиков HELI.
        Компания предоставляет услуги аренды вилочных погрузчиков от месяца до
        3-х лет по конкурентным ценам Вам нет необходимости пополнять свой склад
        техники — просто воспользуйтесь арендой от Склад.38.
      </p>
      <h3 class="text-h3 text-oswald mb-4 fw-bold">Наши услуги</h3>
      <p class="text-16">
        Предложение включает широкий ассортимент вилочных погрузчиков. В нашем
        автопарке вы найдете погрузчики от 1,5 - 3,5 т. Высота подъема вил наших
        арендных машин от 3 метров – 4,8м. Краткосрочная аренда вилочного
        погрузчика в Иркутске на срок от одной недели — идеальное решение в
        случае сезонного увеличения спроса, реализации нестандартных проектов
        или выхода из строя собственного оборудования. Долгосрочная аренда (на
        срок до 3 лет) — выбор для компаний, не желающих приобретать
        дополнительную технику на свои склады. В рамках услуги клиент может
        рассчитывать на техническое обслуживание вилочных погрузчиков
        арендодателем. Долгосрочный контракт облегчает планирование бюджета без
        непредвиденных расходов, связанных с поломками.
      </p>
    </div>
  </div>
</section>
