<section class="s-reviews sect-p" style="background: url('@img/reviews-bg.jpg') 0 0 / cover no-repeat;">
  <div class="container">
    <h2 class="s-title text-center">Отзывы наших клиентов</h2>
    <div class="s-reviews__gallery">
      <a href="@img/reviews-img.jpg" data-fancybox="reviews-gallery" class="s-reviews__btn">
        <img src="@img/reviews-img.jpg" alt="image">
      </a>
      <a href="@img/reviews-img-2.jpg" data-fancybox="reviews-gallery" class="s-reviews__btn d-none d-sm-block">
        <img src="@img/reviews-img-2.jpg" alt="image">
      </a>
      <a href="@img/reviews-img-2-mob.jpg" data-fancybox="reviews-gallery" class="s-reviews__btn d-sm-none">
        <img src="@img/reviews-img-2-mob.jpg" alt="image">
      </a>
    </div>
  </div>
</section>