<section data-count-show="10" class="s-technic sect-m">
  <div class="container">
    <h2 class="s-title text-center">
      техника для склада
      <br />
      <span>под любые нужды</span>
    </h2>
    <div class="d-flex flex-wrap justify-content-center gap-2 s-technic__nav">
      <a href="#" class="btn-s _min">Электрический ричтрак</a>
      <div class="s-technic__nav-item">
        <a href="#" class="btn-s _min">Складская техника</a>
      </div>
      <div class="s-technic__nav-item">
        <a href="#" class="btn-s _min">Гидравлические тележки (рохли)</a>
      </div>
      <div class="s-technic__nav-item">
        <a href="#" class="btn-s _min">Гидравлические тележки 2 000 кг</a>
      </div>
      <div class="s-technic__nav-item">
        <a href="#" class="btn-s _min">Гидравлические тележки 2 500 кг</a>
      </div>
      <div class="s-technic__nav-item">
        <a href="#" class="btn-s _min">Гидравлические тележки 3 000 кг</a>
      </div>
      <div class="s-technic__nav-item">
        <a href="#" class="btn-s _min">Тележка платформенная грузовая</a>
      </div>
      <div class="s-technic__nav-item">
        <a href="#" class="btn-s _min">Тележки гидравлические платформенные</a>
      </div>
      <div class="s-technic__nav-item">
        <a href="#" class="btn-s _min">Самоходные электрические штабелеры</a>
      </div>
      <div class="s-technic__nav-item">
        <a href="#" class="btn-s _min">Штабелеры самоходный 1,5 т</a>
      </div>
      <div class="s-technic__nav-item">
        <a href="#" class="btn-s _min">Телескопические погрузчики</a>
      </div>
      <div class="s-technic__nav-item">
        <a href="#" class="btn-s _min">Вилочные погрузчики</a>
      </div>
      <div class="s-technic__nav-item">
        <a href="#" class="btn-s _min">Вилочные погрузчики 2,5 тонны</a>
      </div>
      <div class="s-technic__nav-item">
        <a href="#" class="btn-s _min">Электрический ричтрак</a>
      </div>
      <div class="s-technic__nav-item">
        <a href="#" class="btn-s _min">Складская техника</a>
      </div>
      <div class="s-technic__nav-item">
        <a href="#" class="btn-s _min">Гидравлические тележки (рохли)</a>
      </div>
      <div class="s-technic__nav-item">
        <a href="#" class="btn-s _min">Гидравлические тележки 2 000 кг</a>
      </div>
      <div class="s-technic__nav-item">
        <a href="#" class="btn-s _min">Гидравлические тележки 2 500 кг</a>
      </div>
      <div class="s-technic__nav-item">
        <a href="#" class="btn-s _min">Гидравлические тележки 3 000 кг</a>
      </div>
      <div class="s-technic__nav-item">
        <a href="#" class="btn-s _min">Тележка платформенная грузовая</a>
      </div>
      <div class="s-technic__nav-item">
        <a href="#" class="btn-s _min">Тележки гидравлические платформенные</a>
      </div>
      <div class="s-technic__nav-item">
        <a href="#" class="btn-s _min">Самоходные электрические штабелеры</a>
      </div>
      <div class="s-technic__nav-item">
        <a href="#" class="btn-s _min">Штабелеры самоходный 1,5 т</a>
      </div>
      <div class="s-technic__nav-item">
        <a href="#" class="btn-s _min">Телескопические погрузчики</a>
      </div>
      <div class="s-technic__nav-item">
        <a href="#" class="btn-s _min">Вилочные погрузчики</a>
      </div>
      <div class="s-technic__nav-item">
        <a href="#" class="btn-s _min">Вилочные погрузчики 2,5 тонны</a>
      </div>
    </div>
    <button class="btn-s _min _outline s-technic__btn-more d-md-none">
      Показать ещё
    </button>
  </div>
</section>
