.card-product {
  position: relative;
  @media (min-width: 992px) {
    @include hover {
      .card-product {
        &__inside {
          box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.15);
          margin: 0 -10px;
        }
        &__wrapper-list {
          max-height: 400px;
        }
      }
    }
  }
  @include tablet {
    padding: 10px;
    border-radius: 8px;
    background-color: white;
  }
  &__inside {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 0;
    left: 0;
    right: 0;
    min-height: 100%;
    border-radius: 8px;
    overflow: hidden;
    min-height: 100%;
    background-color: white;

    transition: box-shadow 0.3s ease, margin .3s ease;
    @include tablet {
      padding: 0;
      position: static;
      border-radius: 0;
    }
  }
  &__img {
    width: 100%;
    display: block;
    aspect-ratio: 1/0.6;
    object-fit: cover;
    @include tablet {
      aspect-ratio: 1/0.82;
    }
  }
  &__body {
    background-color: white;
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 20px;
    @include tablet {
      padding: 0;
    }
  }
  &__title {
    font-weight: 600;
    font-size: 16px;
    line-height: 125%;
    text-align: center;
    color: var(--primary);
    margin: 0px 0px 20px 0px;

    @include tablet {
      font-size: 13px;
      line-height: 123%;
      margin: 10px 0px;
    }
  }
  &__stock {
    @include flex-center;
    gap: 4px;
    margin-bottom: 20px;

    font-size: 13px;
    line-height: 123%;

    @include tablet {
      font-size: 11px;
      line-height: 127%;
      margin-bottom: 10px;
    }

    svg {
      width: 13px;
      height: 13px;
    }
  }
  &__wrapper-list {
    height: 100%;
    overflow: hidden;
    max-height: 0px;

    transition: max-height 0.5s ease-in-out;

    @include laptop-min {
      display: none;
    }
  }
  &__list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0px 0px 30px 0px;
    li {
      display: flex;
      align-items: flex-end;

      white-space: nowrap;
      font-size: 13px;
      line-height: 16px;

      div {
        flex: 1;
        border-bottom: 1px dashed var(--black-33);
      }
    }
  }
  &__btn {
    width: 100%;
    margin-top: auto;
    // @include tablet {
    //   margin-top: 10px;
    // }
  }
}
