.text-light {
  color: var(--light) !important;
}
.text-primary {
  color: var(--primary) !important;
}
.text-gray {
  color: var(--gray) !important;
}

.bg-primary {
  background-color: var(--primary) !important;
}
.bg-light {
  background-color: var(--light-bg) !important;
}