.fixed-search {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 13px 20px;
  background-color: white;
  color: var(--black);
  box-shadow: 0 5px 30px 0 rgba(0, 0, 0, 0.15);
  min-height: 105px;
  z-index: 120;

  opacity: 0;
  visibility: hidden;
  transform: translateY(-100%);

  transition:
    transform 0.4s ease,
    visibility 0.4s ease,
    opacity 0.4s ease;

  @include tablet-min {
    min-height: 80px;
  }

  &._open {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
  &__form {
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--light);
    flex: 1;
    gap: 16px;
  }
  &__input {
    border: none;
    background-color: transparent;
    outline: none;
    flex: 1;
    font-size: 13px;
    line-height: 123%;
    padding: 0;

    &::placeholder {
      color: var(--light);
    }
  }
  &__btn {
    @include flex-center;
    width: 32px;
    height: 32px;

    transition: opacity 0.2s ease;
    @include hover {
      opacity: 0.7;
    }

    svg {
      width: 16px;
      height: 16px;
    }
  }
  &__close {
    @include flex-center;
    width: 32px;
    height: 32px;
    margin-left: auto;

    transition: opacity 0.2s ease;
    @include hover {
      opacity: 0.7;
    }

    svg {
      width: 16px;
      height: 16px;
    }
  }
}
